<!DOCTYPE html>
<html>
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Hello, user. Welcome to Task Tracker</h1>
<a href="/main"><h4>Перейти на главную страницу</h4></a>
</body>
</html>